<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Payment Information</title>

    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>Update Your Payment Information</h1>

    <!-- show any messages that come back with authentication -->
    <% if (success_message.length > 0) { %>
        <div class="alert alert-success"><%= success_message %></div>
    <% } %>
    <!-- show any messages that come back with authentication -->
    <% if (failure_message.length > 0) { %>
        <div class="alert alert-danger"><%= failure_message %></div>
    <% } %>

    <br>
    <div class="container">
  <form id="addCardForm" class="form-horizontal" role="form" method="post" action="addPaymentInfo">
  <div class="form-group">
    <h4> Add Card </h4>
    <label class="control-label col-sm-2" for="card_name">Name on Card</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="card_name" placeholder="Name on Card" name="Name" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="card_number">Card Number</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" pattern="\d{12,20}" id="Card_no" placeholder="1111222233334444" name="Card_no" title="14-20 digits" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="cardExpDate">Expiration Date</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="rcardExpDate" name="Exp_date" pattern="\d{2}/\d{2}" placeholder="11/15" required title="mm/yy">
      </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="ccv">CCV</label>
    <div class="col-sm-10">
      <input type="text" pattern="\d{3}" class="form-control" id="ccv" placeholder="111" name="CVV" required title="3 or 4 digits">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save Payment Information</button>
    </div>
  </div>
</form>

<form id="deleteCardForm" class="form-horizontal" role="form" method="post" action="deletePaymentInfo">
    <div class="form-group">
        <h4> Delete Card </h4>
      <label class="control-label col-sm-2" for="Card Number">Card Number</label>

      <div class="form-group col-sm-10">
        <label for="payment_info">Card To Delete</label>
        <select class="form-control" name="delete_card" id="payment_info" required placeholder="Select Card">
        <% if (cards.length > 0) { %>
          <option value="">Select Card</option>
          <% for (var j in cards) { %>
            <% var card_no = String(cards[j].Card_no); %>
            <option value="<%= card_no %>"><%= card_no.substr(card_no.length - 5) %></option>
          <% } %>
        <% } else { %>
          <option value="">You have no cards registered with us.</option>
        <% } %>
        </select>
      </div>
      <br><br>
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Delete Card</button>
      </div>
    </div>
    </form>
  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
